{% extends 'Admin_base.html' %}
{% load static %} {% block admin_bodyblock %}

<!--begin::Col-->
<div class="col-xxl-12">
	<!--begin::Engage widget 10-->
	<div class="card card-flush h-md-100">
		<!--begin::Body-->
		<div class="card-body d-flex flex-column justify-content-between mt-9 bgi-no-repeat bgi-size-cover bgi-position-x-center pb-0"
			style="background-position: 100% 100%; background-image:url('assets/media/stock/900x600/42.png')">
			<!--begin::Wrapper-->
			<div class="mb-10">
				<!--begin::Title-->
				<div class="fs-2hx fw-bold text-gray-800 text-center mb-13">
					<span class="me-2">Welcome to Medicine
						<br />
						<span class="position-relative d-inline-block text-danger">
							</span>Admin Panel
				</div>
				<!--end::Title-->
			</div>
			<!--begin::Wrapper-->
			
		</div>
		<!--end::Body-->
	</div>
	<!--end::Engage widget 10-->
</div>
<!--end::Col-->
{% endblock %}