{% extends 'Admin_base.html' %} 
{% load static %} {% block admin_bodyblock %}
<!--begin::Main-->
<div class="app-main flex-column flex-row-fluid" id="kt_app_main">
	<!--begin::Content wrapper-->
	<div class="d-flex flex-column flex-column-fluid">
		<!--begin::Toolbar-->
		<div id="kt_app_toolbar" class="app-toolbar py-3 py-lg-6">
			<!--begin::Toolbar container-->
			<div id="kt_app_toolbar_container" class="app-container container-xxl d-flex flex-stack">
				<!--begin::Page title-->
				<div class="page-title d-flex flex-column justify-content-center flex-wrap me-3">
					<!--begin::Title-->
					<h1 class="page-heading d-flex text-dark fw-bold fs-3 flex-column justify-content-center my-0">Medicine Details Form</h1>
					<!--end::Title-->
					<!--begin::Breadcrumb-->
					<ul class="breadcrumb breadcrumb-separatorless fw-semibold fs-7 my-0 pt-1">
						<!--begin::Item-->
						<li class="breadcrumb-item text-muted">
							<a href="{% url 'dashboardPage' %}" class="text-muted text-hover-primary">Admin Side</a>
						</li>
						<!--end::Item-->
						<!--begin::Item-->
						<li class="breadcrumb-item">
							<span class="bullet bg-gray-400 w-5px h-2px"></span>
						</li>
						<!--end::Item-->
						<!--begin::Item-->
						<li class="breadcrumb-item text-muted">Medicine</li>
						<!--end::Item-->
						<!--begin::Item-->
						<li class="breadcrumb-item">
							<span class="bullet bg-gray-400 w-5px h-2px"></span>
						</li>
						<!--end::Item-->
						<!--begin::Item-->
						<li class="breadcrumb-item text-muted">View Details Medicine Details</li>
						<!--end::Item-->
					</ul>
					<!--end::Breadcrumb-->
				</div>
				<!--end::Page title-->
				
			</div>
			<!--end::Toolbar container-->
		</div>
		<!--end::Toolbar-->
		<!--begin::Content-->
		<div id="kt_app_content" class="app-content flex-column-fluid">
			{% for message in messages %}
            <div class="alert {{ message.tags }} alert-dismissible" role="alert">
                <strong>Message:</strong> {{ message }}
            </div>
            {% endfor %}
			<!--begin::Content container-->
			<div id="kt_app_content_container" class="app-container container-xxl">
				<!--begin::Form-->
				<form action="" enctype="multipart/form-data" method="post" data-parsley-validate
				novalidate  class="form d-flex flex-column flex-lg-row" >{% csrf_token %}

					<!--begin::Main column-->
					<div class="d-flex flex-column flex-row-fluid gap-7 gap-lg-10">
						<!--begin::Tab content-->
						<div class="tab-content">
							<!--begin::Tab pane-->
							<div class="tab-pane fade show active" id="kt_ecommerce_add_product_general" role="tab-panel">
								<div class="d-flex flex-column gap-7 gap-lg-10">
									<!--begin::Add Medicine Details options-->
									<div class="card card-flush py-4">
										<!--begin::Card header-->
										<div class="card-header">
											<div class="card-title">
												<h2>Medicine Details Information</h2>
											</div>
										</div>
										<!--end::Card header-->
										<!--begin::Card body-->
										<div class="card-body pt-0">
											<!--begin::Input group-->
											<div class="mb-10 fv-row">
												<!--begin::Label-->
												<label for="medicinename" class="required form-label">Medicine Name</label>
												<!--end::Label-->
												<!--begin::Input-->
												<input type="text" id="medicinename" name="medicinename" class="form-control mb-2" placeholder="Member Position" value="{{ medicine_details.medicine_name }}" disabled/>
												<input type="text" id="medicine_id" name="medicine_id" class="form-control mb-2" placeholder="Compan Vision Title" value="{{ medicine_details.medicine_id }}" hidden/>
												<!--end::Input-->
												
											</div>
											<!--end::Input group-->

											<!--begin::Input group-->
											<div class="mb-10 fv-row">
												<!--begin::Label-->
												<label for="medicinePrice" class="required form-label">Medicine Price</label>
												<!--end::Label-->
												<!--begin::Input-->
												<input type="text" id="medicinePrice" name="medicinePrice" class="form-control mb-2" placeholder="Medicine Price" value="{{ medicine_details.medicine_price }}" disabled/>
												<!--end::Input-->
												
											</div>
											<!--end::Input group-->

											<!--begin::Input group-->
											<div class="mb-10 fv-row">
												<!--begin::Label-->
												<label for="medicineQuantity" class="required form-label">Medicine Quantity</label>
												<!--end::Label-->
												<!--begin::Input-->
												<input type="text" id="medicineQuantity" name="medicineQuantity" class="form-control mb-2" placeholder="Medicine Quantity" value="{{ medicine_details.medicine_quantity }}" disabled/>
												<!--end::Input-->
												
											</div>
											<!--end::Input group-->

											<!--begin::Input group-->
											<div class="mb-10 fv-row">
												<!--begin::Label-->
												<label for="medicineQuantity" class="required form-label">Medicine Available Quantity</label>
												<!--end::Label-->
												<!--begin::Input-->
												<input type="text" id="medicineQuantity" name="medicineQuantity" class="form-control mb-2" placeholder="Medicine Quantity" value="{{ medicine_details.medicine_remember_quantity }}" disabled/>
												<!--end::Input-->
												
											</div>
											<!--end::Input group-->

											<!--begin::Input group-->
											<div class="mb-10 fv-row">
												<!--begin::Label-->
												<label for="medicinemg" class="required form-label">Medicine mg</label>
												<!--end::Label-->
												<!--begin::Input-->
												<input type="text" id="medicinemg" name="medicinemg" class="form-control mb-2" placeholder="Medicine mg" value="{{ medicine_details.medicine_mg }}" disabled/>
												<!--end::Input-->
												
											</div>
											<!--end::Input group-->
											<div class="d-flex">
												<!--begin::Input group-->
												<div class="mb-10 fv-row">
													<!--begin::Label-->
													<label for="medicineMfgDate" class="required form-label">Medicine Mfg Date</label>
													<!--end::Label-->
													<!--begin::Input-->
													<input type="text" id="medicineMfgDate" name="medicineMfgDate" class="form-control mb-2" placeholder="Medicine Mfg Date" value="{{ medicine_details.medicine_mfg_date }}" disabled />
													<!--end::Input-->
												</div>
												<!--end::Input group-->

												<!--begin::Input group-->
												<div class="mb-10 fv-row" style="margin-left: 200px;">
													<!--begin::Label-->
													<label for="medicineexpiryDate" class="required form-label">Medicine Expiry Date</label>
													<!--end::Label-->
													<!--begin::Input-->
													<input type="text" id="medicineexpiryDate" name="medicineexpiryDate" class="form-control mb-2" placeholder="Medicine expiry Date" value="{{ medicine_details.medicine_expiry_date }}" disabled />
													<!--end::Input-->
												</div>
												<!--end::Input group-->
											</div>
											<!--begin::Input group-->
											<div class="row mb-0">
												<!--begin::Label-->
												<label
													class="col-lg-4 col-form-label fw-semibold fs-6">Active
													or Disactive
												</label>
												<!--begin::Label-->
												<div class="col-lg-8 d-flex align-items-center">
													{% if medicine_details.medicine_is_active == True %}
													<div class="form-check form-check-solid form-switch form-check-custom fv-row">
														<input class="form-check-input w-45px h-30px" type="checkbox"
														id="medicinedisable" checked="checked" name="medicinedisable" disabled/>
														<label class="form-check-label" for="medicinedisable">Active </label>
													</div>
													{% else %}
													<div class="form-check form-check-solid form-switch form-check-custom fv-row">
														<input class="form-check-input w-45px h-30px" type="checkbox"
														id="medicinedisable"  name="medicinedisable"  disabled/>
														<label class="form-check-label" for="medicinedisable">Disactive</label>
													</div>
													{% endif %}
												</div>
											</div>
											<!--end::Input group-->
										</div>
										<!--end::Card header-->
									</div>
									<!--end::Contact Us options-->
									
									
								</div>
							</div>
							<!--end::Tab pane-->
							
						</div>
						<!--end::Tab content-->
						<div class="d-flex justify-content-end">
							<!--begin::Button-->
							<a href="{% url 'medicineViewPage' %}" id="kt_ecommerce_add_product_cancel" class="btn btn-light me-5">Cancel</a>
							<a href="{% url 'medicineViewPage' %}" id="kt_ecommerce_add_product_cancel" class="btn btn-light me-5">View</a>
							<!--end::Button-->
							<!--begin::Button-->
							<button type="submit" id="kt_ecommerce_add_product_submit" class="btn btn-primary">
								<span class="indicator-label">Save Changes</span>
								<span class="indicator-progress">Please wait...
								<span class="spinner-border spinner-border-sm align-middle ms-2"></span></span>
							</button>
							<!--end::Button-->
						</div>
					</div>
					<!--end::Main column-->
				</form>
				<!--end::Form-->
			</div>
			<!--end::Content container-->
		</div>
		<!--end::Content-->
	</div>
	<!--end::Content wrapper-->
</div>
<!--end:::Main-->
<script>
	const editableDiv = document.getElementById('kt_ecommerce_add_product_description');
	const hiddenInput = document.getElementById('input-hidden'); // A hidden input field to store the content
	editableDiv.addEventListener('input', function () {
		hiddenInput.value = editableDiv.innerText;
	});
</script>
{% endblock %}