{% extends 'Admin_base.html' %} 
{% load static %} {% block admin_bodyblock %}
<!--begin::Main-->
<div class="app-main flex-column flex-row-fluid" id="kt_app_main">
	<!--begin::Content wrapper-->
	<div class="d-flex flex-column flex-column-fluid">
		<!--begin::Toolbar-->
		<div id="kt_app_toolbar" class="app-toolbar py-3 py-lg-6">
			<!--begin::Toolbar container-->
			<div id="kt_app_toolbar_container" class="app-container container-xxl d-flex flex-stack">
				<!--begin::Page title-->
				<div class="page-title d-flex flex-column justify-content-center flex-wrap me-3">
					<!--begin::Title-->
					<h1 class="page-heading d-flex text-dark fw-bold fs-3 flex-column justify-content-center my-0">Patient Medicine Details Form</h1>
					<!--end::Title-->
					<!--begin::Breadcrumb-->
					<ul class="breadcrumb breadcrumb-separatorless fw-semibold fs-7 my-0 pt-1">
						<!--begin::Item-->
						<li class="breadcrumb-item text-muted">
							<a href="{% url 'dashboardPage' %}" class="text-muted text-hover-primary">Admin Side</a>
						</li>
						<!--end::Item-->
						<!--begin::Item-->
						<li class="breadcrumb-item">
							<span class="bullet bg-gray-400 w-5px h-2px"></span>
						</li>
						<!--end::Item-->
						<!--begin::Item-->
						<li class="breadcrumb-item text-muted">Medicine</li>
						<!--end::Item-->
						<!--begin::Item-->
						<li class="breadcrumb-item">
							<span class="bullet bg-gray-400 w-5px h-2px"></span>
						</li>
						<!--end::Item-->
						<!--begin::Item-->
						<li class="breadcrumb-item text-muted">Add Patient Medicine Details</li>
						<!--end::Item-->
					</ul>
					<!--end::Breadcrumb-->
				</div>
				<!--end::Page title-->
				
			</div>
			<!--end::Toolbar container-->
		</div>
		<!--end::Toolbar-->
		<!--begin::Content-->
		<div id="kt_app_content" class="app-content flex-column-fluid">
			{% for message in messages %}
            <div class="alert {{ message.tags }} alert-dismissible" role="alert">
                <strong>Message:</strong> {{ message }}
            </div>
            {% endfor %}
			<!--begin::Content container-->	
			<div id="kt_app_content_container" class="app-container container-xxl">
				<!--begin::Form-->
				<form action="{% url 'patientmedicineAddPage' %}" enctype="multipart/form-data" method="post" data-parsley-validate
				novalidate  class="form d-flex flex-column flex-lg-row" >{% csrf_token %}	
					
					<!--begin::Main column-->
					<div class="d-flex flex-column flex-row-fluid gap-7 gap-lg-10">
						<!--begin::Tab content-->
						<div class="tab-content">
							<!--begin::Tab pane-->
							<div class="tab-pane fade show active" id="kt_ecommerce_add_product_general" role="tab-panel">
								<div class="d-flex flex-column gap-7 gap-lg-10">
									<!--begin::Add Patient Medicine Details options-->
									<div class="card card-flush py-4">
										<!--begin::Card header-->
										<div class="card-header">
											<div class="card-title">
												<h2>Patient Medicine Details Information</h2>
											</div>
										</div>
										<!--end::Card header-->
										<!--begin::Card body-->
										<div class="card-body pt-0">
											<!--begin::Input group-->
											{% comment %} <label for="medicineModel" class="required form-label">Medicine Name</label>
											<!--begin::Input group-->
											<div class="mb-10 fv-row">
												<select class="form-select mb-2 medicineModel" name="medicineModel" id="medicineModel"
                                                    data-control="select2" data-hide-search="" >
												
                                                    <option value="select">Select Medicine Name</option>
                                                    {% for medicines in medicine_view %}
                                                    <option value="{{ medicines.medicine_id }}">
                                                        {{ medicines.medicine_name }}
                                                    </option>
                                                    {% endfor %}
                                                </select>
											</div> {% endcomment %}

											<label for="patientMedicineName" class="required form-label">Medicine Name</label>
											<div class="mb-10 fv-row">
												<select class="form-select mb-2 patientMedicineName" name="patientMedicineName" id="patientMedicineName" data-control="select2" data-hide-search="">
													<option value="select">Select Medicine Name</option>
													{% for medicines in medicine_view %}
													<option value="{{ medicines.medicine_name }}">{{ medicines.medicine_name }}</option>
													{% endfor %}
												</select>
											</div>

											<div id="medicineMgSection" class="mb-10 fv-row" style="display: none;">
												<label for="patientMedicineMg" class="required form-label">Medicine Mg</label>
												<select class="form-select mb-2" name="patientMedicineMg" id="patientMedicineMg" data-control="select2" data-hide-search="">
													<option value="select">Select Medicine Mg</option>
												</select>
											</div>


											<div class="mb-10 fv-row">
												<label for="patientMedicinePrice" class="required form-label">Medicine Price</label>
												<!--begin::Input-->
												<input type="text" id="patientMedicinePrice" name="patientMedicinePrice" class="form-control mb-2" placeholder="Medicine Price" value="" readonly/>
												<input type="text" id="patientMedicineName" name="patientMedicineName" class="form-control mb-2" placeholder="Medicine Price" value="" hidden/>
												
												<!--end::Input-->
												<!--begin::Description-->
												<div class="text-muted fs-7">A Patient Medicine First Name is required and recommended to be unique.</div>
												<!--end::Description-->
											</div>
											
											<div class="mb-10 fv-row">
												<!--begin::Label-->
												<label for="medicineQuantity" class="required form-label">Medicine Quantity</label>
												<!--end::Label-->
												<!--begin::Input-->										
												<input type="text" id="medicineQuantity" name="medicineQuantity" class="form-control mb-2  " oninput="calculateRemainingMedicineQuantity()" placeholder="Medicine Quantity" value="" disabled/>
												<!--end::Input-->
												<!--begin::Description-->
												<div class="text-muted fs-7">A Medicine Quantity is required and recommended to be unique.</div>
												<!--end::Description-->
											</div>
											<!--end::Input group-->
											<div class="mb-10 fv-row">
												<!--begin::Label-->
												<label for="patientMedicineQuantity" class="required form-label">Patient Medicine Quantity</label>
												<!--end::Label-->
												<!--begin::Input-->												
												<input type="text" id="patientMedicineQuantity" name="patientMedicineQuantity" oninput="calculateRemainingMedicineQuantity(); calculateTotalPrice();" class="form-control mb-2" placeholder="Medicine Quantity" value="" />

												<!--end::Input-->
												<!--begin::Description-->
												<div class="text-muted fs-7">A Patient Medicine Quantity is required and recommended to be unique.</div>
												<!--end::Description-->
											</div>
											<!--end::Input group-->
											<!--begin::Input group-->
											<div class="mb-10 fv-row">
												<!--begin::Label-->
												<label for="patientMedicineRememberQuantity" class="required form-label">Patient Medicine Remember Quantity</label>
												<!--end::Label-->
												<!--begin::Input-->
												<input type="text" id="patientMedicineRememberQuantity" name="patientMedicineRememberQuantity" class="form-control mb-2" placeholder="Patient Medicine Remember Quantity" value="" readonly/>
												<!--end::Input-->
												<span style='color:red;' id="stockStatus"></span>
											</div>
											<!--end::Input group-->

											<!--end::Input group-->
											<div class="mb-10 fv-row">
												<!--begin::Label-->
												<label for="patientMedicineTotalPrice" class="required form-label">Patient Total Price</label>
												<!--end::Label-->
												<!--begin::Input-->												
												<input type="text" id="patientMedicineTotalPrice" name="patientMedicineTotalPrice" oninput="calculateRemainingMedicineQuantity()" class="form-control mb-2  " placeholder="Total Price" value="" readonly/>

												<!--end::Input-->
												<!--begin::Description-->
												<div class="text-muted fs-7">A Patient Total Price is required and recommended to be unique.</div>
												<!--end::Description-->
											</div>
											<!--end::Input group-->
											
											
											<!--begin::Input group-->
											<div class="row mb-0">
												<!--begin::Label-->
												<label
													class="col-lg-4 col-form-label fw-semibold fs-6">Active
													or Disactive
												</label>
												<!--begin::Label-->
												<!--begin::Label-->
												<div class="col-lg-8 d-flex align-items-center">
													<div
														class="form-check form-check-solid form-switch form-check-custom fv-row">
														<input class="form-check-input w-45px h-30px"
															type="checkbox" id="patientmedicinedisable"  name="patientmedicinedisable"
															checked="checked" />
														<label class="form-check-label"
															for="patientmedicinedisable"></label>
													</div>
												</div>
												<!--begin::Label-->
											</div>
											<!--end::Input group-->
										</div>
										<!--end::Card header-->
									</div>
									<!--end::Contact Us options-->
									
									
								</div>
							</div>
							<!--end::Tab pane-->
							
						</div>
						<!--end::Tab content-->
						<div class="d-flex justify-content-end">
							<!--begin::Button-->
							<a href="{% url 'patientbillPage' %}" id="kt_ecommerce_add_product_cancel" class="btn btn-light me-5">Submit Bill</a>
							{% comment %} <a href="{% url 'patientmedicineViewPage' %}" id="kt_ecommerce_add_product_cancel" class="btn btn-light me-5">View</a> {% endcomment %}
							<!--end::Button-->
							<!--begin::Button-->
							<button type="submit" id="kt_ecommerce_add_product_submit" class="btn btn-primary">
								<span class="indicator-label">Save</span>
								<span class="indicator-progress">Please wait...
								<span class="spinner-border spinner-border-sm align-middle ms-2"></span></span>
							</button>
							<!--end::Button-->
						</div>
					</div>
					<!--end::Main column-->
				</form>
				<!--end::Form-->
			</div>
			<!--end::Content container-->
		</div>
		<!--end::Content-->
	</div>
	<!--end::Content wrapper-->
</div>
<!--end:::Main-->

<script>
	const editableDiv = document.getElementById('kt_ecommerce_add_product_description');
	const hiddenInput = document.getElementById('input-hidden'); // A hidden input field to store the content
	editableDiv.addEventListener('input', function () {
		hiddenInput.value = editableDiv.innerText;
	});
</script>

<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
	
<script>
    function calculateRemainingMedicineQuantity() {
        // Get values from input fields
        var totalmedicineQuantity = parseFloat(document.getElementById('medicineQuantity').value) || 0;
        var sellmedicineQuantity = parseFloat(document.getElementById('patientMedicineQuantity').value) || 0;

        // Calculate remaining quantity
        var remainingMedicineQuantity = totalmedicineQuantity - sellmedicineQuantity;
        document.getElementById('patientMedicineRememberQuantity').readOnly = true;

        // Update the remaining quantity field
        if (totalmedicineQuantity === 0) {
            document.getElementById('patientMedicineRememberQuantity').value = 0;
            document.getElementById('stockStatus').innerHTML = "Out of stock";
            document.getElementById('kt_ecommerce_add_product_submit').disabled = true; // Disable submit button
        } else if (remainingMedicineQuantity < 0) {
            document.getElementById('patientMedicineRememberQuantity').value = remainingMedicineQuantity.toFixed();
            document.getElementById('stockStatus').innerHTML = "Not Enough Quantity Available. Please Enter Enough Quantity";
            document.getElementById('kt_ecommerce_add_product_submit').disabled = true; // Disable submit button
        } else {
            document.getElementById('patientMedicineRememberQuantity').value = remainingMedicineQuantity.toFixed();
            document.getElementById('stockStatus').innerHTML = ""; // Hide the message
            document.getElementById('kt_ecommerce_add_product_submit').disabled = false; // Enable submit button
        }
    }

    function calculateTotalPrice() {
        // Get values from input fields
        var quantity = parseFloat(document.getElementById('patientMedicineQuantity').value) || 0;
        var price = parseFloat(document.getElementById('patientMedicinePrice').value) || 0;

        // Calculate total price
        var totalPrice = quantity * price;

        // Update the total price field
        document.getElementById('patientMedicineTotalPrice').value = totalPrice.toFixed(2);
    }

    {% comment %} $(document).ready(function() {
        $('#medicineModel').on('change', function() {
            var medicine_id = $(this).val();

            // Make an AJAX request
            $.ajax({
                type: 'GET',
                url: '/adminpanel/medicine_datafetch/' + medicine_id + '/',
                success: function(data) {
                    console.log('Data:', data);
                    // Update HTML elements with the received data
                    $('#patientMedicineName').val(data.medicine_name || ''); 
                    $('#patientMedicinePrice').val(data.medicine_price || ''); 
                    $('#patientMedicineMg').val(data.medicine_mg || ''); 
                    $('#medicineQuantity').val(data.medicine_quantity || ''); 
                    calculateTotalPrice(); // Calculate total price when price is updated
                },
                error: function(error) {
                    console.log('Error:', error);
                }
            });
        });

        // Calculate total price on quantity change
        $('#patientMedicineQuantity').on('input', calculateTotalPrice);
    }); {% endcomment %}
	$(document).ready(function() {
		$('#patientMedicineName').on('change', function() {
			var medicine_name = $(this).val();
	
			$.ajax({
				type: 'GET',
				url: '/adminpanel/medicine_datafetch/' + medicine_name + '/',
				success: function(data) {
					console.log('Data:', data);
					// Update HTML elements with the received data
					$('#patientMedicineName').val(data.medicine_name || '');
					$('#patientMedicinePrice').val(data.medicine_price || '');
					$('#medicineQuantity').val(data.medicine_quantity || '');
	
					var medicineMgDropdown = $('#patientMedicineMg');
					medicineMgDropdown.empty(); // Clear previous options
					$.each(data.medicineMgs, function(index, medicineMg) {
						medicineMgDropdown.append($('<option></option>').attr('value', medicineMg).text(medicineMg));
					});
	
					// Show medicineMg selection section
					$('#medicineMgSection').show();
				},
				error: function(error) {
					console.log('Error:', error);
				}
			});
		});
	
		// Calculate total price on quantity change
		$('#patientMedicineQuantity').on('input', calculateTotalPrice);
	});
	
</script>

	
	
{% endblock %}

def medicinedatafetchFun(request, medicine_id):
    try:
        selected_medicine = medicineModel.objects.get(medicine_id=medicine_id)
        try:
            painent_remaing_quantity = patientmedicineModel.objects.filter(patientmedicine_medicine_name=selected_medicine.medicine_name).order_by('patientmedicine_created_at').last()
            medicineMgs = medicineModel.objects.filter(medicine_name=selected_medicine.medicine_name).values_list('medicine_mg', flat=True).distinct()
        except:
            medicineMgs = []
        if painent_remaing_quantity :
            data = {
                'medicine_id': selected_medicine.medicine_id,
                'medicine_name': selected_medicine.medicine_name,
                'medicine_price': selected_medicine.medicine_price,
                'medicine_quantity': painent_remaing_quantity.patientmedicine_remember_quantity,
                'medicineMgs': list(medicineMgs),
            }            
        else :
            data = {
                'medicine_id': selected_medicine.medicine_id,
                'medicine_name': selected_medicine.medicine_name,
                'medicine_price': selected_medicine.medicine_price,
                'medicine_quantity': selected_medicine.medicine_quantity,
                'medicineMgs': list(medicineMgs),
            }
        print(data , "LLLLLLLLLLL")
        return JsonResponse(data)
    except medicineModel.DoesNotExist:
        return JsonResponse({'error': 'Medicine not found'}, status=404)
    except Exception as e:
        return JsonResponse({'error': str(e)}, status=500)