
{% extends 'Admin_base.html' %} 
{% load static %} {% block admin_bodyblock %}
<!--begin::Main-->
<div class="app-main flex-column flex-row-fluid" id="kt_app_main">
	<!--begin::Content wrapper-->
	<div class="d-flex flex-column flex-column-fluid">
		<!--begin::Toolbar-->
		<div id="kt_app_toolbar" class="app-toolbar py-3 py-lg-6">
			<!--begin::Toolbar container-->
			<div id="kt_app_toolbar_container" class="app-container container-xxl d-flex flex-stack">
				<!--begin::Page title-->
				<div class="page-title d-flex flex-column justify-content-center flex-wrap me-3">
					<!--begin::Title-->
					<h1 class="page-heading d-flex text-dark fw-bold fs-3 flex-column justify-content-center my-0">Dashboard Analysis Type Details Form</h1>
					<!--end::Title-->
					<!--begin::Breadcrumb-->
					<ul class="breadcrumb breadcrumb-separatorless fw-semibold fs-7 my-0 pt-1">
						<!--begin::Item-->
						<li class="breadcrumb-item text-muted">
							<a href="{% url 'dashboardPage' %}" class="text-muted text-hover-primary">Frontend Side</a>
						</li>
						<!--end::Item-->
						<!--begin::Item-->
						<li class="breadcrumb-item">
							<span class="bullet bg-gray-400 w-5px h-2px"></span>
						</li>
						<!--end::Item-->
						<!--begin::Item-->
						<li class="breadcrumb-item text-muted">Medicine</li>
						<!--end::Item-->
						<!--begin::Item-->
						<li class="breadcrumb-item">
							<span class="bullet bg-gray-400 w-5px h-2px"></span>
						</li>
						<!--end::Item-->
						<!--begin::Item-->
						<li class="breadcrumb-item text-muted">Add Sell Medicine Details</li>
						<!--end::Item-->
					</ul>
					<!--end::Breadcrumb-->
				</div>
				<!--end::Page title-->
				
			</div>
			<!--end::Toolbar container-->
		</div>
		<!--end::Toolbar-->
		<!--begin::Content-->
		<div id="kt_app_content" class="app-content flex-column-fluid">
			{% for message in messages %}
            <div class="alert {{ message.tags }} alert-dismissible" role="alert">
                <strong>Message:</strong> {{ message }}
            </div>
            {% endfor %}
			<!--begin::Content container-->	
			<div id="kt_app_content_container" class="app-container container-xxl">
				<!--begin::Form-->
				<form action="{% url 'sellmedicineEditPage' %}" enctype="multipart/form-data" method="post" data-parsley-validate
				novalidate  class="form d-flex flex-column flex-lg-row" >{% csrf_token %}	
					
					<!--begin::Main column-->
					<div class="d-flex flex-column flex-row-fluid gap-7 gap-lg-10">
						<!--begin::Tab content-->
						<div class="tab-content">
							<!--begin::Tab pane-->
							<div class="tab-pane fade show active" id="kt_ecommerce_add_product_general" role="tab-panel">
								<div class="d-flex flex-column gap-7 gap-lg-10">
									<!--begin::Add Sell Medicine Details options-->
									<div class="card card-flush py-4">
										<!--begin::Card header-->
										<div class="card-header">
											<div class="card-title">
												<h2>Sell Medicine Details Information</h2>
											</div>
										</div>
										<!--end::Card header-->
										<!--begin::Card body-->
										<div class="card-body pt-0">
											<label for="medicineModel" class="required form-label">Medicine Name</label>
											<!--begin::Input group-->
											<div class="mb-10 fv-row">
												<select class="form-control mb-2 medicineModel" name="medicineModel" id="medicineModel"
                                                    data-control="select2" data-hide-search="" disabled>
												
                                                    <option value="{{ sellmedicine_featch.sellmedicine_name }}">{{ sellmedicine_featch.sellmedicine_name }}</option>
                                                </select>
											</div>
																						
											<div class="mb-10 fv-row">
												<!--begin::Label-->
												<label for="medicineQuantity" class="required form-label">Medicine Quantity</label>
												<!--end::Label-->
												<!--begin::Input-->										
												<input type="text" id="medicineQuantity" name="medicineQuantity" class="form-control mb-2  " oninput="calculateRemainingMedicineQuantity()" placeholder="Medicine Quantity" value="{{sellmedicine_featch.medicine.medicine_quantity}}" disabled/>
												<input type="text" id="sellmedicine_id" name="sellmedicine_id" class="form-control mb-2" placeholder="" value="{{ sellmedicine_featch.sellmedicine_id }}" hidden/>

												<!--end::Input-->
												<!--begin::Description-->
												<div class="text-muted fs-7">A Sell Medicine Quantity is required and recommended to be unique.</div>
												<!--end::Description-->
											</div>
											<!--end::Input group-->

											<div class="mb-10 fv-row">
												<!--begin::Label-->
												<label for="sellmedicineQuantity" class="required form-label">Enter Medicine Quantity</label>
												<!--end::Label-->
												<!--begin::Input-->												
												<input type="text" id="sellmedicineQuantity" name="sellmedicineQuantity" oninput="calculateRemainingMedicineQuantity()" class="form-control mb-2  " placeholder="Medicine Quantity" value="{{sellmedicine_featch.sellmedicine_quantity}}" />
												<!--end::Input-->
												<!--begin::Description-->
												<div class="text-muted fs-7">A Sell Medicine Quantity is required and recommended to be unique.</div>
												<!--end::Description-->
											</div>
											<!--end::Input group-->
											<!--begin::Input group-->
											<div class="mb-10 fv-row">
												<!--begin::Label-->
												<label for="sellmedicineRememberQuantity" class="required form-label">sellmedicine Remember Quantity</label>
												<!--end::Label-->
												<!--begin::Input-->
												<input type="text" id="sellmedicineRememberQuantity" name="sellmedicineRememberQuantity" class="form-control mb-2" placeholder="sellmedicine Remember Quantity" value="{{sellmedicine_featch.sellmedicine_remember_quantity}}" />
												<!--end::Input-->
												<span style='color:red;' id="stockStatus"></span>
											</div>
											<!--end::Input group-->
											
											
											<!--begin::Input group-->
											<div class="row mb-0">
												<!--begin::Label-->
												<label
													class="col-lg-4 col-form-label fw-semibold fs-6">Active
													or Disactive
												</label>
												<!--begin::Label-->
												<!--begin::Label-->
												<div class="col-lg-8 d-flex align-items-center">
													{% if sellmedicine_featch.sellmedicine_is_active == True %}
													<div class="form-check form-check-solid form-switch form-check-custom fv-row">
														<input class="form-check-input w-45px h-30px" type="checkbox"
														id="sellmedicinedisable" checked="checked" name="sellmedicinedisable" />
														<label class="form-check-label" for="sellmedicinedisable">Active </label>
													</div>
													{% else %}
													<div class="form-check form-check-solid form-switch form-check-custom fv-row">
														<input class="form-check-input w-45px h-30px" type="checkbox"
														id="sellmedicinedisable"  name="sellmedicinedisable" />
														<label class="form-check-label" for="sellmedicinedisable">Disactive</label>
													</div>
													{% endif %}
												</div>
												<!--begin::Label-->
											</div>
											<!--end::Input group-->
										</div>
										<!--end::Card header-->
									</div>
									<!--end::Contact Us options-->
									
									
								</div>
							</div>
							<!--end::Tab pane-->
							
						</div>
						<!--end::Tab content-->
						<div class="d-flex justify-content-end">
							<!--begin::Button-->
							<a href="{% url 'sellmedicineViewPage' %}" id="kt_ecommerce_add_product_cancel" class="btn btn-light me-5">Cancel</a>
							<a href="{% url 'sellmedicineViewPage' %}" id="kt_ecommerce_add_product_cancel" class="btn btn-light me-5">View</a>
							<!--end::Button-->
							<!--begin::Button-->
							<button type="submit" id="kt_ecommerce_add_product_submit" class="btn btn-primary">
								<span class="indicator-label">Save</span>
								<span class="indicator-progress">Please wait...
								<span class="spinner-border spinner-border-sm align-middle ms-2"></span></span>
							</button>
							<!--end::Button-->
						</div>
					</div>
					<!--end::Main column-->
				</form>
				<!--end::Form-->
			</div>
			<!--end::Content container-->
		</div>
		<!--end::Content-->
	</div>
	<!--end::Content wrapper-->
</div>
<!--end:::Main-->

<script>
	const editableDiv = document.getElementById('kt_ecommerce_add_product_description');
	const hiddenInput = document.getElementById('input-hidden'); // A hidden input field to store the content
	editableDiv.addEventListener('input', function () {
		hiddenInput.value = editableDiv.innerText;
	});
</script>

<script>
    function calculateRemainingMedicineQuantity() {
        // Get values from input fields
        var totalmedicineQuantity = parseFloat(document.getElementById('medicineQuantity').value) || 0;
        var sellmedicineQuantity = parseFloat(document.getElementById('sellmedicineQuantity').value) || 0;

        // Calculate remaining quantity
        var remainingMedicineQuantity = totalmedicineQuantity - sellmedicineQuantity;

        // Update the remaining quantity field
        if (totalmedicineQuantity === 0) {
            document.getElementById('sellmedicineRememberQuantity').value = 0;
            document.getElementById('stockStatus').innerHTML = "Out of stock";
            document.getElementById('kt_ecommerce_add_product_submit').disabled = true; // Disable submit button
        } else if (remainingMedicineQuantity < 0) {
            document.getElementById('sellmedicineRememberQuantity').value = remainingMedicineQuantity.toFixed();
            document.getElementById('stockStatus').innerHTML = "Not Enough Quantity Available. Please Enter Enough Quantity";
            document.getElementById('kt_ecommerce_add_product_submit').disabled = true; // Disable submit button
        } else {
            document.getElementById('sellmedicineRememberQuantity').value = remainingMedicineQuantity.toFixed();
            document.getElementById('stockStatus').innerHTML = ""; // Hide the message
            document.getElementById('kt_ecommerce_add_product_submit').disabled = false; // Enable submit button
        }
    }
</script>

	
{% endblock %}