{% extends 'admin_base.html' %} {% block admin_title %}View Sub Category{% endblock %}
{% load static %} {% block admin_bodyblock %}


<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome Page</title>

    <style>
        body {
            display: flex;
            align-items: center;
            justify-content: center;
            height: 100vh;
            margin: 0;
        }

        h1, p {
            text-align: center;
            font-size: 3.5em;
            
        }
    </style>
</head>

<body>
    <div>
        <h1>Welcome</h1>
        <p> "Welcome To Admin Panel".</p>
    </div>
</body>

</html>

{% endblock %}