{% extends "admin_base.html" %}
{% block admin_title %}View Product{% endblock %}
{% load static %}
{% block admin_bodyblock %}

<div class="content-page">
    <!-- Start content -->
    <div class="content">
        <div class="container">
            <!-- Page-Title -->
            <div class="row">
                <div class="col-sm-12">
                    <h4 class="page-title">View Product</h4>
                    <ol class="breadcrumb">
                        <li><a href="#">Product</a></li>
                        <li><a href="#">Tables</a></li>
                        <li class="active">View Product</li>
                    </ol>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-12">
                    <div class="card-box table-responsive">
                        <h4 class="m-t-0 header-title"><b>View Product</b></h4>

                        <table id="datatable-buttons" class="table table-striped table-bordered">
                            <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>Product Name</th>
                                    <th>Product Price</th>
                                    <th>Product Image</th>
                                    <th>Status</th>
                                    <th>Created at</th>
                                    <th>Action</th>
                                </tr>
                            </thead>

                            <tbody>
                                {% for productdataview in view_Product %}
                                <tr>
                                    <td>{{ productdataview.id }}</td>
                                    <td>{{ productdataview.Product_name }}</td>
                                    <td>{{ productdataview.Product_price }}</td>
                                    <td><img src="{{ productdataview.Product_image }}" height="50px" width="50px"></td>
                                    <td>
                                        {% if productdataview.Product_is_active %}
                                        <span class="label label-table label-success">Active</span>
                                        {% else %}
                                        <span class="label label-table label-inverse">Deactive</span>
                                        {% endif %}
                                    </td>
                                    <td>{{ productdataview.Product_created_at }}</td>
                                    <td class="actions">
                                        <a href="#" class="on-default edit-row productupdate" data-toggle="modal" data-target="#updateproduct" data-id="{{ productdataview.id }}"><i class="fa fa-pencil"></i></a>
                                        <a href="#" class="on-default remove-row deleterecord" data-id="{{ productdataview.id }}"><i class="fa fa-trash-o"></i></a>
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <!-- end row -->
        </div>
        <!-- container -->
    </div>
    <!-- content -->

    <div id="updateproduct" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none">
        <div class="modal-dialog">
            <div class="modal-content">
                <form id="updateproductform" method="POST" action="" enctype="multipart/form-data">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                        <h4 class="modal-title">Product Information</h4>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label for="field-3" class="control-label">Product Name</label>
                                    <input type="text" class="form-control" id="productName" placeholder="Enter Product Name" name="productName" />
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="field-3" class="control-label">Product Price*</label>
                            <input type="text" class="form-control" name="productPrice" placeholder="Enter Product Price" class="form-control" id="productPrice" />
                        </div>

                        <div class="form-group">
                            <label for="field-3" class="control-label">Product Image*</label>
                            <input type="file" class="form-control-file" name="productImage"/>
                            <img id="productImage" height="100px" width="100px">

                        </div>

                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="act">Activation Status</label><br />
                                    <input class="form-check-input" type="radio" name="productactivate" id="productactivate_yes" value="1" />
                                    Active &nbsp;&nbsp;&nbsp;
                                    <input class="form-check-input" type="radio" name="productactivate" value="0" id="productactivate_no" />
                                    Inactive
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default waves-effect" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-info waves-effect waves-light productsavechanges" data-id="">Save changes</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- /.modal -->
    <div class="modal fade" id="alertbox" role="dialog">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label=""><span></span></button>
                </div>
                <div class="modal-body">
                    <div class="thank-you-pop">
                        <!-- <img src="<?php echo base_url(). "assets/frontend/images/Green-Round-Tick.png"; ?>" alt=""> -->
                        <h1 id="msg"></h1>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

    {% comment %} Wrong-Modal {% endcomment %}

    <div class="modal fade" id="wrongbox" role="dialog">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label=""><span></span></button>
                </div>
                <div class="modal-body">
                    <div class="thank-you-pop">
                        <!--<img src="<?php echo base_url(). "assets/frontend/images/wrong.png"; ?>" alt=""> -->
                        <h1 id="wrong"></h1>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <script type="text/javascript">
        window.CSRF_TOKEN = "{{ csrf_token }}";

        $(document).on('click', '.productupdate', function() {
            var productdata = $(this).attr("data-id");
            console.log(productdata);
            console.log("helo");

            $.ajax({
                url: "{% url 'productFetchPage' %}",
                method: "POST",
                data: {
                    productdata: productdata,
                    csrfmiddlewaretoken: window.CSRF_TOKEN
                },
                success: function(data) {
                    console.log(data);
                    $.each(data, function(key, value) {
                        $('#productName').val(value[0].Product_name);
                        $('#productPrice').val(value[0].Product_price);
                        $('#productImage').attr("src", value[0].Product_image);

                        if (value[0].Product_is_active == 1) {
                            $('#productactivate_yes').prop("checked", true);
                        } else {
                            $('#productactivate_no').prop("checked", true);
                        }
                        $('.productsavechanges').attr('data-id', value[0]['id']);
                    });
                },
                error: function(error) {
                    console.log(error);
                }
            });
        });

        $(document).on('click', '.productsavechanges', function() {
            var productdata = $(this).attr("data-id");
            var data = new FormData(document.getElementById('updateproductform'));

            console.log(data);
            data.append("productdata", productdata);
            data.append("oldproductimage", $('#productImage').attr('src'));
            data.append("csrfmiddlewaretoken", window.CSRF_TOKEN);

            $.ajax({
                url: "{% url 'productEditPage' %}",
                method: "POST",
                data: data,
                processData: false,
                contentType: false,
                cache: false,
                timeout: 800000,
                success: function(data) {
                    $("#updateproduct").modal("hide");
                    console.log(data);
                    if (data == '1') {
                        $("#alertbox").modal("show");
                        $("#msg").text("Record is updated");
                    } else {
                        $("#wrongbox").modal("show");
                        $("#wrong").text(data);
                    }
                    setTimeout(function() {
                        location.reload();
                    }, 1000);
                },
                error: function(error) {
                    console.log(error);
                }
            });
        });

        $(document).on('click', '.deleterecord', function() {
            var confirmation = confirm("Are you sure you want to remove a Product?");
            if (confirmation) {
                var productdata = $(this).attr("data-id");

                $.ajax({
                    url: "{% url 'productDeletePage' %}",
                    method: "POST",
                    data: {
                        productdata: productdata,
                        csrfmiddlewaretoken: window.CSRF_TOKEN
                    },
                    dataType: "json",
                    success: function(data) {
                        if (data == '1') {
                            $("#alertbox").modal("show");
                            $("#msg").text("Record deleted!");
                        } else {
                            $("#wrongbox").modal("show");
                            $("#wrong").text("Something goes wrong!");
                        }

                        setTimeout(function() {
                            location.reload();
                        }, 2000);
                    },
                    error: function(error) {
                        console.log(error);
                    }
                });
            }
        });
    </script>
{% endblock %}
