{% extends 'Admin_Base.html' %} 
{% load static %} {% block admin_bodyblock %}
<!--begin::Main-->
<div class="app-main flex-column flex-row-fluid" id="kt_app_main">
	<!--begin::Content wrapper-->
	<div class="d-flex flex-column flex-column-fluid">
		<!--begin::Toolbar-->
		<div id="kt_app_toolbar" class="app-toolbar py-3 py-lg-6">
			<!--begin::Toolbar container-->
			<div id="kt_app_toolbar_container" class="app-container container-xxl d-flex flex-stack">
				<!--begin::Page title-->
				<div class="page-title d-flex flex-column justify-content-center flex-wrap me-3">
					<!--begin::Title-->
					<h1 class="page-heading d-flex text-dark fw-bold fs-3 flex-column justify-content-center my-0">Edit Visitor Details Form</h1>
					<!--end::Title-->
					<!--begin::Breadcrumb-->
					<ul class="breadcrumb breadcrumb-separatorless fw-semibold fs-7 my-0 pt-1">
						<!--begin::Item-->
						<li class="breadcrumb-item text-muted">
							<a href="../../demo1/dist/index.html" class="text-muted text-hover-primary">Admin Side</a>
						</li>
						<!--end::Item-->
						<!--begin::Item-->
						<li class="breadcrumb-item">
							<span class="bullet bg-gray-400 w-5px h-2px"></span>
						</li>
						<!--end::Item-->
						<!--begin::Item-->
						<li class="breadcrumb-item text-muted">Pacific Homes</li>
						<!--end::Item-->
						<!--begin::Item-->
						<li class="breadcrumb-item">
							<span class="bullet bg-gray-400 w-5px h-2px"></span>
						</li>
						<!--end::Item-->
						<!--begin::Item-->
						<li class="breadcrumb-item text-muted">Edit Visitor Details</li>
						<!--end::Item-->
					</ul>
					<!--end::Breadcrumb-->
				</div>
				<!--end::Page title-->
				
			</div>
			<!--end::Toolbar container-->
		</div>
		<!--end::Toolbar-->
		<!--begin::Content-->
		<div id="kt_app_content" class="app-content flex-column-fluid">
			{% for message in messages %}
            <div class="alert {{ message.tags }} alert-dismissible" role="alert">
                <strong>Message:</strong> {{ message }}
            </div>
            {% endfor %}
			<!--begin::Content container-->
			<div id="kt_app_content_container" class="app-container container-xxl">
				<!--begin::Form-->
				<form action="{% url "visitorEditPage" %}" enctype="multipart/form-data" method="post" data-parsley-validate
				novalidate  class="form d-flex flex-column flex-lg-row" >{% csrf_token %}	
					
					<!--begin::Main column-->
					<div class="d-flex flex-column flex-row-fluid gap-7 gap-lg-10">
						<!--begin::Tab content-->
						<div class="tab-content">
							<!--begin::Tab pane-->
							<div class="tab-pane fade show active" id="kt_ecommerce_add_product_general" role="tab-panel">
								<div class="d-flex flex-column gap-7 gap-lg-10">
									<!--begin::Add Bangalows Details options-->
									<div class="card card-flush py-4">
										<!--begin::Card header-->
										<div class="card-header">
											<div class="card-title">
												<h2>Edit Visitor Details Information</h2>
											</div>
										</div>
										<!--end::Card header-->
										<!--begin::Card body-->
										<div class="card-body pt-0">
											<label for="bangalowNo" class="required form-label">Bangalow No.</label>
											<!--begin::Input group-->
											<div class="mb-10 fv-row">
												<select class="form-select mb-2" name="bangalowNo"
                                                    data-control="select2" data-hide-search=""
                                                    data-placeholder="Select an option">
                                                   
                                                    {% for visit in bangalow_details %}
                                                    {% if visit.bangalow_id == visitor_featch.bangalow_id %}
                                                    <option value="{{ visit.bangalow_no }}" selected>

                                                        {{ visit.bangalow_no }}</option>
                                                    {% else %}
                                                    <option value="{{ visit.bangalow_no }}">

                                                        {{ visit.bangalow_no }}</option>
                                                    {% endif %}
                                                    {% endfor %}
                                                </select>
												
											</div>
											<div class="mb-10 fv-row">
												<!--begin::Label-->
												<label for="visitorFirstName" class="required form-label">First Name & Middle Name</label>
												<!--end::Label-->
												<!--begin::Input-->
												<input type="text" id="visitorFirstName" name="visitorFirstName" class="form-control mb-2" placeholder="First Name & Middle Name" value="{{visitor_featch.visitor_first_name}}"/>
												<input type="text" id="visitor_id" name="visitor_id" class="form-control mb-2" placeholder="First Name & Middle Name" value="{{visitor_featch.visitor_id}}" hidden/>
												<!--end::Input-->
												<!--begin::Description-->
												<div class="text-muted fs-7">A First Name & Middle Name is required and recommended to be unique.</div>
												<!--end::Description-->
											</div>
											<!--end::Input group-->
											<!--begin::Input group-->
											<div class="mb-10 fv-row">
												<!--begin::Label-->
												<label for="visitorLastName" class="required form-label">Last Name</label>
												<!--end::Label-->
												<!--begin::Input-->
												<input type="text" id="visitorLastName" name="visitorLastName" class="form-control mb-2" placeholder="Last Name" value="{{visitor_featch.visitor_last_name}}" />
												<!--end::Input-->
												<!--begin::Description-->
												<div class="text-muted fs-7">A Last Name is required.</div>
												<!--end::Description-->
											</div>
											<!--end::Input group-->
											<!--begin::Input group-->
											<div class="mb-10 fv-row">
												<!--begin::Label-->
												<label for="visitorLocation" class="required form-label">Location</label>
												<!--end::Label-->
												<!--begin::Input-->
												<input type="text" id="visitorLocation" name="visitorLocation" class="form-control mb-2" placeholder="Location" value="{{visitor_featch.visitor_location}}" />
												<!--end::Input-->
												<!--begin::Description-->
												<div class="text-muted fs-7">A Vistor Location is required.</div>
												<!--end::Description-->
											</div>

											<!--end::Input group-->
											<!--begin::Input group-->
											<div class="mb-10 fv-row">
												<!--begin::Label-->
												<label for="visitoremail" class="required form-label">Email Id</label>
												<!--end::Label-->
												<!--begin::Input-->
												<input type="text" id="visitoremail" name="visitoremail" class="form-control mb-2" placeholder="Email Id" value="{{visitor_featch.visitor_email_id}}" />
												<!--end::Input-->
												<!--begin::Description-->
												<div class="text-muted fs-7">A Email Id is required </div>
												<!--end::Description-->
											</div>
											<!--end::Input group-->
											<!--begin::Input group-->
											<div class="mb-10 fv-row">
												<!--begin::Label-->
												<label for="visitorwhatappno" class="required form-label">Whatapp PhoneNo</label>
												<!--end::Label-->
												<!--begin::Input-->
												<input type="text" id="visitorwhatappno" name="visitorwhatappno" class="form-control mb-2" placeholder="Whatapp PhoneNo" value="{{visitor_featch.visitor_whatapp_phoneNo}}" />
												<!--end::Input-->
												<!--begin::Description-->
												<div class="text-muted fs-7">A Whatapp PhoneNo is required </div>
												<!--end::Description-->
											</div>
											<!--end::Input group-->
											<!--begin::Input group-->
											<div class="mb-10 fv-row">
												<!--begin::Label-->
												<label for="visitorphoneno" class="required form-label">Phone No.</label>
												<!--end::Label-->
												<!--begin::Input-->
												<input type="text" id="visitorphoneno" name="visitorphoneno" class="form-control mb-2" placeholder="Phone No." value="{{visitor_featch.visitor_phoneNo}}" />
												<!--end::Input-->
												<!--begin::Description-->
												<div class="text-muted fs-7">A Phone No. is required </div>
												<!--end::Description-->
											</div>
											<!--end::Input group-->
											<!--begin::Input group-->
											<div class="row mb-0">
												<!--begin::Label-->
												<label
													class="col-lg-4 col-form-label fw-semibold fs-6">Active
													or Disactive
												</label>
												<!--begin::Label-->
												<!--begin::Label-->
												<div class="col-lg-8 d-flex align-items-center">
													{% if visitor_featch.visitor_is_active == "On" %}
													<div class="form-check form-check-solid form-switch form-check-custom fv-row">
														<input class="form-check-input w-45px h-30px" type="checkbox"
														id="visitordisable" checked="checked" name="visitordisable"/>
														<label class="form-check-label" for="visitordisable">Active </label>
													</div>
													{% else %}
													<div class="form-check form-check-solid form-switch form-check-custom fv-row">
														<input class="form-check-input w-45px h-30px" type="checkbox"
														id="visitordisable"  name="visitordisable" />
														<label class="form-check-label" for="visitordisable">Disactive</label>
													</div>
													{% endif %}
											</div>
												<!--begin::Label-->
											</div>
											<!--end::Input group-->
										</div>
										<!--end::Card header-->
									</div>
									<!--end::Contact Us options-->
									
									
								</div>
							</div>
							<!--end::Tab pane-->
							
						</div>
						<!--end::Tab content-->
						<div class="d-flex justify-content-end">
							<!--begin::Button-->
							<a href="../../demo1/dist/apps/ecommerce/catalog/products.html" id="kt_ecommerce_add_product_cancel" class="btn btn-light me-5">Cancel</a>
							<!--end::Button-->
							<!--begin::Button-->
							<button type="submit" id="kt_ecommerce_add_product_submit" class="btn btn-primary">
								<span class="indicator-label">Save Changes</span>
								<span class="indicator-progress">Please wait...
								<span class="spinner-border spinner-border-sm align-middle ms-2"></span></span>
							</button>
							<!--end::Button-->
						</div>
					</div>
					<!--end::Main column-->
				</form>
				<!--end::Form-->
			</div>
			<!--end::Content container-->
		</div>
		<!--end::Content-->
	</div>
	<!--end::Content wrapper-->
</div>
<!--end:::Main-->
<script>
	const editableDiv = document.getElementById('kt_ecommerce_add_product_description');
	const hiddenInput = document.getElementById('input-hidden'); // A hidden input field to store the content
	editableDiv.addEventListener('input', function () {
		hiddenInput.value = editableDiv.innerText;
	});
</script>
{% endblock %}